<div style="background-color: #f8f9fa !important;">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top nav-terms">
    <div class="container">
      <a class="navbar-brand title-nav-terms" routerLink="/">Entrenemos</a>
    </div>
  </nav>
  <main class="container" id="main-terms">
    <h2>Aviso legal</h2>
    <hr/>
    <p>El acceso a la página web (página web de la empresa) y a la información relativa a cualesquiera de los
      productos y servicios contenidos en el mismo comporta la aceptación de las condiciones
      previstas en el presente Aviso Legal. Por ello le recomendamos que lea atentamente su
      contenido si usted desea acceder y hacer uso de la información y los servicios ofrecidos
      desde la página web de Entrenemos.</p><br/>

    <h4>1. Valided de la información</h4><hr/>
    <p>La información contenida en estas páginas es la vigente en la fecha de su última
      actualización. Las presentes condiciones son las vigentes desde la fecha de su última
      actualización. Initcoms se reserva el derecho a modificarlas en cualquier momento, en cuyo
      caso entrarán en vigor desde su publicación y serán aplicables a todos los usuarios del portal
      desde esa fecha. Los contenidos, en especial las referencias informativas y publicitarias,
      salvo que expresamente se indique lo contrario, no constituyen oferta vinculante. Entrenemos
      se reserva el derecho a introducir modificaciones u omitir parcial o totalmente los actuales
      contenidos de la página web cuando lo considere oportuno, así como impedir o restringir el
      acceso de forma temporal o permanente.</p><br/>

    <h4>2. Condiciones de uso</h4><hr/>
    <p>Las condiciones de acceso y uso del presente sitio web se rigen por la legalidad vigente y
      por el principio de buena fe comprometiéndose el usuario a realizar un buen uso de la web.
      No se permiten conductas que vayan contra la ley, los derechos o intereses de terceros.<br/>
      Ser usuario de la web de (página web de la empresa) implica que reconoce haber leído y
      aceptado las presentes condiciones y lo que las extienda la normativa legal aplicable en esta
      materia. Si por el motivo que fuere no está de acuerdo con estas condiciones no continúe
      usando esta web.<br/>
      Cualquier tipo de notificación y/o reclamación solamente será válida por notificación escrita
      y/o correo certificado.</p><br/>

    <h4>3. Responsabilidades</h4><hr/>
    <p>Entrenemos no se hace responsable de la información y contenidos almacenados en
      foros, redes sociales o cualesquier otro medio que permita a terceros publicar contenidos de
      forma independiente en la página web del prestador.<br/>
      Sin embargo, teniendo en cuenta los art. 11 y 16 de la LSSI-CE, (nombre de la empresa) se
      compromete a la retirada o en su caso bloqueo de aquellos contenidos que pudieran afectar o
      contravenir la legislación nacional o internacional, derechos de terceros o la moral y el
      orden público.<br/>
      Tampoco la empresa se responsabilizará de los daños y perjuicios que se produzcan por fallos
      o malas configuraciones del software instalado en el ordenador del internauta. Se excluye
      toda responsabilidad por alguna incidencia técnica o fallo que se produzca cuando el usuario
      se conecte a internet. Igualmente no se garantiza la inexistencia de interrupciones o errores
      en el acceso al sitio web.<br/>
      Así mismo, Entrenemos se reserva el derecho a actualizar, modificar o eliminar
      la información contenida en su página web, así como la configuración o presentación del mismo,
      en cualquier momento sin asumir alguna responsabilidad por ello.<br/>
      Le comunicamos que cualquier precio que pueda ver en nuestra web será solamente orientativo.
      Si el usuario desea saber con exactitud el precio o si el servicio en el momento actual cuenta
      con alguna oferta de la cual se puede beneficiar ha de acudir al box de Entrenemos</p><br/>

    <h4>4. Política de Cookies</h4><hr/>
    <p>Entrenemos por su propia cuenta o la de un tercero contratado para prestación de servicios
      de medición, pueden utilizar cookies cuando el usuario navega por el sitio web. Las cookies
      son ficheros enviados al navegador por medio de un servicio web con la finalidad de registrar
      las actividades del usuario durante su tiempo de navegación.<br/>
      Las cookies utilizadas se asocian únicamente con un usuario anónimo y su ordenador, y no
      proporcionan por sí mismas los datos personales del usuario.<br/>
      Mediante el uso de las cookies resulta posible que el servidor donde se encuentra la web
      reconozca el navegador web utilizado por el usuario con la finalidad de que la navegación
      sea más sencilla. Se utilizan también para medir la audiencia y parámetros del tráfico,
      controlar el proceso y número de entradas.<br/>
      El usuario tiene la posibilidad de configurar su navegador para ser avisado de la recepción
      de cookies y para impedir su instalación en su equipo. Por favor consulte las instrucciones
      y manuales de su navegador para ampliar esta información.<br/>
      Para utilizar el sitio web no es necesario que el usuario permita la instalación de las
      cookies enviadas al sitio web, o el tercero que actúe en su nombre, sin perjuicio de que
      sea necesario que el usuario inicie una sesión tal en cada uno de los servicios cuya
      prestación requiera el previo registro.<br/>
      En todo caso las cookies tienen un carácter temporal con la única finalidad de hacer más
      eficaz su transmisión ulterior. En ningún caso se utilizará cookies para recoger información
      de carácter personal.</p><br/>

    <a class="active" routerLink="/">Volver a inicio</a>
  </main>
</div>
