.nav-terms{
  background-color: #212529;
  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
  -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  border: none;
}

.title-nav-terms{
  font-size: 1.75em;
  color: rgba(40, 167, 69, 1);
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
}

#main-terms{
  padding: 125px 0 85px 0;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  p{
    font-size: 0.95em;
    padding: 0 5px;
  }
  #main-terms{
    padding: 125px 10px 85px 10px;
  }
}
