<nav-bar></nav-bar>

<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Bienvenido a Entrenemos!</div>
      <div class="intro-heading text-uppercase">No te pongas límites</div>
      <a class="text-uppercase js-scroll-trigger" href="#portfolio">
        <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</header>

<!-- Portfolio Grid -->
<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Servicios</h2>
        <h3 class="section-subheading text-muted">Mejora de la salud y el bienestar.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item ">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="./assets/img/portfolio/01-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h5>Entrenamiento funcional</h5>
          <p class="text-know-more"><a data-toggle="modal" href="#portfolioModal1">Saber más</a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item ">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="./assets/img/portfolio/02-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h5>Clases reducidas</h5>
          <p class="text-know-more"><a data-toggle="modal" href="#portfolioModal2">Saber más</a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item ">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="./assets/img/portfolio/03-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h5>Mejora física</h5>
          <p class="text-know-more"><a data-toggle="modal" href="#portfolioModal3">Saber más</a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item ">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="./assets/img/portfolio/04-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h5>Control de peso</h5>
          <p class="text-know-more"><a data-toggle="modal" href="#portfolioModal4">Saber más</a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item ">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="./assets/img/portfolio/05-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h5 style="font-size: 1.1em;">Entrenamientos personalizados</h5>
          <p class="text-know-more"><a data-toggle="modal" href="#portfolioModal5">Saber más</a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item ">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="./assets/img/portfolio/06-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h5>Rehabilitaciones</h5>
          <p class="text-know-more"><a data-toggle="modal" href="#portfolioModal6">Saber más</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About -->
<section id="horarios">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Horarios y Tarifas</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-striped text-center">
          <thead>
          <tr>
            <th>Día</th>
            <th>Mañana</th>
            <th>Tarde</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Lunes</td>
            <td>10:00 - 13:00</td>
            <td>18:00 - 22:00</td>
          </tr>
          <tr>
            <td>Martes</td>
            <td>09:00 - 13:00</td>
            <td>18:00 - 22:00</td>
          </tr>
          <tr>
            <td>Miércoles</td>
            <td>10:00 - 13:00</td>
            <td>18:00 - 22:00</td>
          </tr>
          <tr>
            <td>Jueves</td>
            <td>09:00 - 13:00</td>
            <td>18:00 - 22:00</td>
          </tr>
          <tr>
            <td>Viernes</td>
            <td>09:00 - 13:00</td>
            <td>18:00 - 21:00</td>
          </tr>
          <tr>
            <td>Sábado</td>
            <td>10:00 - 11:00</td>
            <td>-</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-striped text-center">
          <thead>
          <tr>
            <th>Horas / Semana</th>
            <th>Tarifa</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>2</td>
            <td>40€</td>
          </tr>
          <tr>
            <td>3</td>
            <td>45€</td>
          </tr>
          <tr>
            <td>4</td>
            <td>60€</td>
          </tr>
          <tr>
            <td>Ilimitado</td>
            <td>75€</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Team -->
<section class="bg-light" id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading text-uppercase">Nuestra manera de trabajar</h2>
        <h3 class="section-subheading text-muted">Motivación, disciplina y atención</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="team-content">Nuestro objetivo es hacer que cada cliente de lo mejor de si mismo y rinda con la mejor calidad posible para poder llegar al mejor estado de salud y forma física.<br/>
        Nuestro entrenamiento funcional basado en pesos libres (barras, anillas, trx, kettlebell, calistenia, etc) se centra en la mejora de la condición física alejándonos de los trabajos musculares aislados, lo que nos ayuda a la mejora neuromuscular, coordinación intra e intermuscular, musculatura estabilizadora, lateralidad, núcleo central, etc.<br/>
        En <span class="color-name">Entrenemos</span> encontrarás un trato cercano y responsable hacia los problemas y lesiones de cada persona. En función de estos, se prepara un entrenamiento específico pudiendo sacar el mayor partido a su rendimiento con el objetivo de que cada persona note mejoría en su salud y estado físico.<br/>
        Contamos con un extenso horario, variable en función de la disponibilidad de cada uno. Cada cliente puede asistir a la hora que mejor le convenga sin tener problema con el nivel de cada clase, ya que cada persona entrena en función de su condición física y esfuerzo.</p>
      </div>
    </div>
    <div class="row team-bottom">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">Buscamos lo mejor de ti mismo con el fin de que rindas con la mejor calidad posible para poder llegar a tus objetivos</p>
      </div>
    </div>
  </div>
</section>


<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; www.entrenemoscross.es</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/Entrenemos330" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/entrenemos330/" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/entrenemoscross/" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks pull-right">
          <li class="list-inline-item">
            <a href="#">Aviso legal</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Portfolio Modals -->

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Entrenamiento funcional</h2>
              <p class="item-intro text-muted">Impulsa a tu organismo a tener buena salud.</p>
              <img class="img-fluid d-block mx-auto" src="./assets/img/portfolio/01-full.jpg" alt="">
              <p>Nuestro entrenamiento funcional basado en pesos libres (barras, anillas, trx, kettlebell, calistenia, etc…) se centra en la mejora de la condición física alejándonos de los trabajos musculares aislados, lo que nos ayuda a la mejora neuromuscular, coordinación intramuscular e intermuscular, musculatura estabilizadora, lateralidad, núcleo central, etc.</p>

              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Clases reducidas</h2>
              <p class="item-intro text-muted">Nuestros profesionales están siempre a disposición vuestra</p>
              <img class="img-fluid d-block mx-auto" src="./assets/img/portfolio/02-full.jpg" alt="">
              <p>Los grupos reducidos en cada sesión de entranamiento están destinados para que la ejecución de los ejercicios se haga de la forma correcta, y para ello, nuestros profesionales están siempre atentos de cada movimiento realizado.
                <br>Disponemos de amplios horarios que se pueden ajustar a vuestra disponibilidad.
              </p>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Mejora física</h2>
              <p class="item-intro text-muted">Ponte metas y llegarás lejos.</p>
              <img class="img-fluid d-block mx-auto" src="./assets/img/portfolio/03-full.jpg" alt="">
              <p>Nuestra metodología de trabajo se basa en una mejora continua, evitando una monotonía en las sesiones de entrenamiento para que el cuerpo esté constantenmente en proceso de mejora.</p>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Control de peso</h2>
              <p class="item-intro text-muted">Los datos hablan solos.</p>
              <img class="img-fluid d-block mx-auto" src="./assets/img/portfolio/04-full.jpg" alt="">
              <p>Realizamos un seguimiento mensual de control de peso personalizado para analizar y valorar vuestra mejora física, y poder aconsejaros en función de vuestras necesidades.</p>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase" style="font-size: 1.1em;">Entrenamientos personalizados</h2>
              <p class="item-intro text-muted">Nos adaptamos a cualquier situación.</p>
              <img class="img-fluid d-block mx-auto" src="./assets/img/portfolio/05-full.jpg" alt="">
              <p>Siempre buscamos lo mejor de vosotros, para ello , encontrás en nuestros profesionales un trato cercano para conocer cuál son vuestros objetivos (pruebas para las fuerzas y cuerpos del estado, bomberos, tener mejor condición física, etc) </p>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Rehabilitaciones</h2>
              <p class="item-intro text-muted">Empieza poco a poco y el problema desaparece.</p>
              <img class="img-fluid d-block mx-auto" src="./assets/img/portfolio/06-full.jpg" alt="">
              <p>Los entrenamientos siempre están enfocados a la condición física de cada persona, pudiendo sacar un mayor partido a su rendimiento con el objetivo de que cada persona note mejoría en su salud y estado físico.</p>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Cookies-->
<div id="modalCookies" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog classCookies">
    <div class="modal-content">
      <div class="modal-body">
    <p>Solicitamos su permiso para obtener datos estadísticos de su navegación en esta web, en cumplimiento del Real
      Decreto-ley 13/2012. Si continúa navegando consideramos que acepta el uso de cookies.</p>
    </div>
      <div class="modal-footer">
        <button type="button" id="okCookie" class="btn btn-success">Ok</button>
        <a href="http://politicadecookies.com" target="_blank" class="btn btn-warning">Más información</a>
      </div>
    </div>
  </div>
</div>
