<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Entrenemos</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#horarios">Horarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#team">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <ul class="list-inline social-buttons icon-nav">
            <li class="list-inline-item">
              <a href="https://twitter.com/Entrenemos330" target="_blank">
                <i class="fa fa-twitter icon-nav"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/entrenemos330/" target="_blank">
                <i class="fa fa-facebook icon-nav"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/entrenemoscross/" target="_blank">
                <i class="fa fa-instagram icon-nav"></i>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
